.react-formik-ui.themed .form-element {
  margin-bottom: 40px !important;
}

.input-wrapper,
.datePicker-wrapper {
  &:before {
    border-bottom: 2px solid rgb(52, 199, 192) !important;
  }
}

.search-form {
  display: flex;
  flex-direction: column;

  &__loader {
    text-align: center;
  }

  &_submit {
    opacity: 0.4;
  }

  &__btn-search {
    width: 200px;
    height: 30px;
    margin: auto;
    border-radius: 30px;
    font-size: 15px;
    padding-bottom: 7px;
    cursor: pointer;

    &:hover {
      background: #e6e4e429;
    }
  }
}
